<!DOCTYPE html>

<html>
    <head>
        <h1>Signup</h1>
    </head>
    <body>
        <form placeholder="Enter Information:" action="/" method="post">
            <label for="name">                                                                                      
            Username: <input type="text"  name="name" value={{name}}> {{name_too}} {{name_not}} {{name_np}}                                                                                 
            </label>
            <br>
            <label for="password">                                                                                      
            Password: <input type="text"  name="password" value={{password}}>{{no_match}} {{pass_too}} {{pass_not}} {{pass_np}}                                                                             
            </label>
            <br>
            <label for="verify">                                                                                      
            Verify Password: <input type="text"  name="verify" value={{verify}}>{{no_match}}                                                                      
            </label>
            <br> 
            <label for="email">                                                                                      
            Email (optional): <input type="text"  name="email" value={{email}}>{{inv_email}}                                                                                     
            </label>
            <br>                                                                                                                                                                                                                                                     
            <input type="submit" value="Sign Up!"/>                                                                        
        </form>   
    </body>
</html>